@font-face {
    font-family: 'open_sansregular';
    src: url('../../webfont/opensans-regular-webfont.eot');
    src: url('../../webfont/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/opensans-regular-webfont.woff2') format('woff2'),
         url('../../webfont/opensans-regular-webfont.woff') format('woff'),
         url('../../webfont/opensans-regular-webfont.ttf') format('truetype'),
         url('../../webfont/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../webfont/opensans-semibold-webfont.eot');
    src: url('../../webfont/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/opensans-semibold-webfont.woff2') format('woff2'),
         url('../../webfont/opensans-semibold-webfont.woff') format('woff'),
         url('../../webfont/opensans-semibold-webfont.ttf') format('truetype'),
         url('../../webfont/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../../webfont/opensans-bold-webfont.eot');
    src: url('../../webfont/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/opensans-bold-webfont.woff2') format('woff2'),
         url('../../webfont/opensans-bold-webfont.woff') format('woff'),
         url('../../webfont/opensans-bold-webfont.ttf') format('truetype'),
         url('../../webfont/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../../webfont/opensans-light-webfont.eot');
    src: url('../../webfont/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/opensans-light-webfont.woff2') format('woff2'),
         url('../../webfont/opensans-light-webfont.woff') format('woff'),
         url('../../webfont/opensans-light-webfont.ttf') format('truetype'),
         url('../../webfont/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ------------- */

html, body { 
	padding: 0px; margin: 0px;
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body { font-size: 10px; padding-top: 53px}
a, img { padding: 0px; margin: 0px;}
img { display: block; }

h2 {padding: 0.5em 2%; margin: 0px}

.root { width: 100%; background: #ebebeb; }
.header { width: 100%; background: #606966; padding: 0px; margin: 0px; position: fixed; top: 0px; left: 0px; z-index: 100; box-shadow: 0 0 3em rgba(0,0,0,0.25);}
.flt_left{float: left;}
.flt_right{float: right;}

.header .actualizar, .header .fecha { float: left;}
.header .fecha { color: #fff; line-height: 53px; font-size: 1.3em; padding-left: 0.5em;}

.header .compartir, .header .logo {float: left;}
.header .logo a {float: left; padding: 0 0.2em 0 0; background: #fff;}
.header .compartir {background-color:#606966;}
.header .compartir:hover {background-color:#4e5756;}


/* Scroll_V */
.panel_destacados { width: 100%;}

.panel_destacados .destacados { width: 100%; background: #FFFFFF;}
.panel_destacados .destacados ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  background: #FFFFFF;}
.panel_destacados .destacados ul li { width: 29%; padding: 2%; display: block; float: left;}

.panel_destacados .destacados ul.titulo li { font-size: 1.1em;}
.panel_destacados .destacados ul.titulo { border: 0.1em solid #aeaeae; border-left: 0em; border-right: 0em; border-top: 0em; }


.panel_destacados .destacados .producto { border: 0.1em solid #aeaeae; border-left: 0em; border-right: 0em; border-top: 0em; }
.panel_destacados .destacados .producto span { display: block;text-align: center; margin: 0px auto; width: 5em; padding: 0.5em 0.25em; color: #fff; border-radius: 0.4em; font-size: 1.5em; font-family: 'open_sansbold';}
.panel_destacados .destacados .producto span.grey {background-color: #CCC;}
.panel_destacados .destacados .producto span.green {background-color: #4cd98b; background-image: linear-gradient(#4cd98b, #4cd966)}
.panel_destacados .destacados .producto span.red {background-color: #ff354d; background-image: linear-gradient(#ff354d, #ff3a31)}

.panel_destacados .destacados .producto .col1 {font-size: 1.5em; font-family: 'open_sanssemibold';  line-height: 2.5em;}
.panel_destacados .destacados .producto .col2 {font-size: 1.5em; font-family: 'open_sansregular';  line-height: 2.5em;}
.panel_destacados .destacados .producto .col3 {}

.panel_destacados .detalles { width: 100%; float: left;}
.panel_destacados .detalles ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_destacados .detalles ul li { width: 29%; padding: 2%; display: block; float: left;}
.panel_destacados .detalles .titulo { background: #d6dad9; }

.panel_destacados .details .producto .col1 { font-size: 10px; font-family: 'open_sansregular', Arial, Helvetica, sans-serif; font-weight: normal; }
.panel_destacados .details .producto .col2{ font-size: 10px; font-family: 'open_sansregular', Arial, Helvetica, sans-serif; font-weight: 600; }
.panel_destacados .details .producto .col3{ font-size: 10px; font-family: 'open_sansregular', Arial, Helvetica, sans-serif; font-weight: normal; }


/*******/
.btn_vermas { width: 100%; text-align: center; background: #ccc; float: left; padding: .75em 0; font-size: 2em;}

.panel_vermas .detalles{ float: left; width: 100%}
.panel_vermas { width: 100%; color: #FFFFFF; font-size: 14px;}
.panel_vermas .head { width: 100%; position: relative; float: left; background: #959595; }
.panel_vermas .head .toggle {}

.panel_vermas .head ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_vermas .head ul li { width: 21%; padding: 2%; display: block; float: left;}
.panel_vermas .head .titulo {border-top: 0.1em solid #ccc; border-bottom: 0.2em solid #ccc;}
/*
.panel_vermas .header .titulo .col1 {}
.panel_vermas .header .titulo .col2 {}
.panel_vermas .header .titulo .col3 {}
.panel_vermas .header .titulo .col4 {}
*/
.panel_vermas .detalles ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_vermas .detalles ul li { width: 21%; padding: 2%; display: block; float: left;}
/*
.panel_vermas .detalles .producto .col1 {}
.panel_vermas .detalles .producto .col2 {}
.panel_vermas .detalles .producto .col3 {}
.panel_vermas .detalles .producto .col4 {}
*/
/****************************************/

/*.bkg_campo {background: #959595 url('../../img/fondo2.jpg'); background-repeat: no-repeat; background-attachment:fixed; background-position: bottom center;}*/
.bkg_campo {background-color: #959595; background-image: url('../../img/fondo2.jpg'); background-repeat: no-repeat; background-attachment:fixed; background-position: bottom center;}


/****************************************/

.panel_swipper .historicas .head { width: 100%; background: #959595; float: left;}
.panel_swipper .historicas .head h3 {}

.panel_swipper .historicas .head ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_swipper .historicas .head ul li { width: 46%; padding: 2%; display: block; float: left;}
.panel_swipper .historicas .head .titulo {border-bottom: 0.2em solid #ccc; border-top: 0.1em solid #ccc; float: left;}

.panel_swipper .historicas .col1 { text-align: right;}
.panel_swipper .historicas .col2 { text-align: left;}

.panel_swipper .historicas .detalles ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_swipper .historicas .detalles ul li { width: 46%; padding: 2%; display: block; float: left;}

.details ul.producto.par { background: #ddd;}

.bkg_campo .par { background: url('../../img/bkg_claro.png');}


.panel_swipper .historicas .detalles .fechaprecio .col1 { text-align: right;}
.panel_swipper .historicas .detalles .fechaprecio .col2 { text-align: left;}

/*************************************/

.panel_swipper .novedades, .panel_swipper .historicas { width: 100%; float: left; position: relative; color: #FFFFFF; font-size: 14px;}
.panel_swipper .novedades ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_swipper .novedades ul li { display: block; float: left;}

.panel_swipper .novedades .news .col1 { width: 6%; padding: 2%; text-align: center; }

.panel_swipper .novedades .news .col2 { width: 86%; padding: 2%; text-align: left;}
.panel_swipper .novedades .news .col2 h3 { display: block; padding: 0px; margin: 0px;}
.panel_swipper .novedades .news .col2 span.date { display: block;  float: left; padding: 0px; margin: 0px;}
.panel_swipper .novedades .news .col2 span.tag  { display: block;  float: left; padding: 0px 15px; margin: 0px;}
.panel_swipper .novedades .news .col2 p { display: block; float: left;}


/*************************************/

.panel_swipper .informe { width: 100%; position: relative; color: #FFFFFF; font-size: 14px; float: left;}
.panel_swipper .informe ul { width: 100%; display: block; float: left; padding: 0px; margin: 0px;  }
.panel_swipper .informe ul li { display: block; float: left;}

.panel_swipper .informe .info .col1 { width: 96%;  padding: 2%; }
.panel_swipper .informe .info .col1 h3 { display: block; padding: 0px; margin: 0px;}
.panel_swipper .informe .info .col1 p { display: block; float: left;}


.toggle { display: block; width: 2.6em; height: 2.6em; position: absolute; top: 0.3em;  right: 0.3em;  }
.toggle.up   { background: url('../../img/up.png') no-repeat; background-position: center;}
.toggle.down { background: url('../../img/down.png') no-repeat; background-position: center;}

#window_modal_container{ position: absolute; top:0; left: 0; width: 100%; height: 100%;z-index: 5555;background: rgba(60, 68, 79, 0.9); display: none; }
.center_box {
  background: #fff;
  border-radius: 0.2em;
  position: absolute;
  top: 10%;
  left: 8%;
  width: 80%;
  /*margin: -15% 0 0 -25%;*/
  padding: 1.5em;
  box-shadow: 0px 0px 80px 0px rgba(29,33,39,1);
  border: 1px solid rgba(255,255,255,.2);
}
#window_modal_title { font-weight: 600;font-size: 1.3em;}

.center_box input[type=button] {
  color: #fff;
  background: #000;
  border: 0.2em solid rgba(24, 28, 33,.6);
  border-radius: 0.2em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  transition: background .5s;
  padding: .5em;
  margin:1.5em auto 0 auto;
  width: 100%;
}

.cssLogoAfaModal {
    width: 6.6em;
    height: 6.6em;
}

#vertical_content_wrapper {
	position:absolute;
	z-index:1;
	top:0; 
	bottom:0; 
	left:0;
	width:100%;
	overflow:auto;
}

#vertical_content_scroller {
	position:absolute;
	z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	height:100%;
	float:left;
	padding:0;
}

#vertical_content_scroller > ul {
	list-style:none;
	display:block;
	float:left;
	height:100%;
	padding:0;
	margin:0;
}

#vertical_content_scroller > ul > li {
	display:block;
	vertical-align:middle;
	float:left;
	height:100%;
}

#horizontal_content_wrapper {
	position:absolute;
	z-index:10;
	top:0; 
	bottom:0; 
	left:0;
	width:100%;
	overflow:auto;
}

#horizontal_content_scroller {
	position:absolute;
	z-index:10;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	height:100%;
	float:left;
	padding:0;
}

#horizontal_content_scroller > ul {
	list-style:none;
	display:block;
	float:left;
	height:100%;
	padding:0;
	margin:0;
}

#horizontal_content_scroller > ul > li {
	display:block;
	vertical-align:middle;
	float:left;
	height:100%;
}
